.container {
    margin-top: 20px;
  }
  
 
  .table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .table th, .table td {
    border: 1px solid #dee2e6;
    padding: 10px;
  }
  
  .btn {
    padding: 5px 10px;
    margin: 2px;
    cursor: pointer;
  }
  
  .btn-danger {
    background-color: #dc3545;
    color: #fff;
    border: 1px solid #dc3545;
  }
  
  footer {
    margin-top: 30px;
    text-align: center;
    color: #6c757d;
  }
  
  /* Responsividade para dispositivos móveis */
  @media (max-width: 768px) {
    .table th, .table td {
      font-size: 14px;
    }
  }